<nav class="navbar navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand" href="#">
      <img src="https://i.pinimg.com/736x/6d/65/d1/6d65d1cb3170718f11c5cc8137e2d487.jpg" alt="" width="30" height="24">
    </a>
  </div>
</nav>
